* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mfmenu, .gfmenu {
    position: relative;
}

.mfmenu ul {
    position: absolute;
    bottom: 0;
    left: 685px;
}

.gfmenu ul {
    position: absolute;
    top: 1024px;
    left: 685px;
}

.mfmenu, .gfmenu li {
    display: inline;
    color: #575050;
}

.import {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 800;
    font-size: 17px;
}

.nimport {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 700;
    font-size: 15px;
}